<div class="footer">
	<a class="navlink" href="/auto"><img class="slp" src="static/slippi.svg"/></a>
	<a class="navlink" href="/manual"><i class="fas fa-pencil"></i></a>
	<a class="navlink" href="/friendlies"><i class="fas fa-handshake"></i></a>
	<a class="navlink" href="/crews"><i class="fas fa-users"></i></a>
	<a class="navlink" href="/replay-record"><i class="fas fa-clock-rotate-left"></i></a>
</div>
<link rel="stylesheet" type="text/css" href="static/css/footer.css">
<script src="static/scripts/footer.js"></script>