<!DOCTYPE html>

<html>
<head>
	<title>Smash Bros. Melee Overlay Config</title>
	<script src="static/scripts/jquery-3.4.1.min.js"></script>
	<script src="static/scripts/long-press-event.js"></script>
	<script src="static/scripts/auto-scripts.js"></script>
	<script src="static/scripts/obs-ws.min.js"></script>
	<script src="static/scripts/fontawesome.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/result.css">
    <script src="static/scripts/result.js"></script>
</head>

<body>
    <div class="result">
    </div>
</body>
