<!DOCTYPE html>

<html>
<head>
	<title>Smash Bros. Melee Overlay Config</title>
	<script src="static/scripts/jquery-3.4.1.min.js"></script>
	<script src="static/scripts/long-press-event.js"></script>
	<script src="static/scripts/settings.js"></script>
	<script src="static/scripts/obs-ws.min.js"></script>
	<script src="static/scripts/fontawesome.js"></script>
	<script>
		var best_of_value = "{{best_of}}"
		var api_key = "{{api_key}}"
		var obs_port = "{{obs_port}}"
		var obs_password = "{{obs_password}}"
	</script>
	<link rel="stylesheet" type="text/css" href="static/css/settings.css">
</head>

<body>
	{{> footer}}
	<div id="left_wrapper">
	</div>
	<div id="right_wrapper">
	</div>
</body>