.main {
	background-color: #EB805E;
	width: 606px;
	height: 739px;
	box-sizing: border-box;
	padding: 6px;
	z-index: -10;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top {
	flex-shrink: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.right-column {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#ui {
	display: none;
}

.logo {
	flex-shrink: 0;
	width: 100%;
	aspect-ratio: 2 / 1;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
}

.logo-text-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-size: 128px;
}

.logo-text-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-shadow: 0 0 0.1em rgba(0, 0, 0, 0.85);
}

.logo-text {
	font-family: 'Les Bouquinistes';
	color: white;
	line-height: 1em;
	transform: translateY(0.22em);
}

.middle {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	padding: 36px 0;
}

.round {
	font-family: "Hey Comic";
	font-size: 36px;
	white-space: nowrap;
    overflow: hidden;
	color: #fff;
	-webkit-text-stroke: 1.5px black;
	line-height: 1em;
	height: 1em;
}

.stock_icon-container {
	position: absolute;
	z-index: -8;
	display: flex;
	width: 100%;
}

.stock_icon {
	width: 50%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: bottom;
}

.team {
	width: 100%;
	overflow-x: clip;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.player {
	font-family: "Hey Comic";
    color: #fff;
    font-size: 48px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	overflow-x: clip;
}

#player1-container {
	align-items: flex-start;
}

#player2-container {
	gap: unset;
	justify-content: space-between;
}

.player-name {
	font-family: "Hey Comic";
	font-size: 48px;
	color: #fff;
	-webkit-text-stroke: 2px black;
	line-height: 1em;
}

.score {
	font-family: "Les Bouquinistes";
    color: #fff;
	-webkit-text-stroke: 1px black;
    white-space: initial;
	font-weight: bold;
	text-align: center;
	font-size: 80px;
	width: 0.75em;
}

.background {
	position: fixed;
	z-index: -10;
}

.pronouns {
	font-size: 28px;
	height: 1em;
	white-space:nowrap;
	color: #fff;
	-webkit-text-stroke: 1.5px black;
}

.bottom {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: "Hey Comic";
	font-size: 36px;
	white-space: nowrap;
	color: #fff;
	-webkit-text-stroke: 1.5px black;
	line-height: 1em;
}

.link {
    display: flex;
    gap: 0.25em;
    align-items: flex-end;
    line-height: 1em;
    color: #fff;
}
.link-icon {
    fill: #fff;
    width: 0.9em;
}

#date {
	font-size: 0.3em;
	text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.85);
}