@font-face {
    font-family: "Deansgate";
    src: url('/static/font/deansgatecondensed-bold.ttf');
}
@font-face {
    font-family: "FolkMedium";
    src: url('/static/font/folkpro-medium.otf');
}
@font-face {
    font-family: "FolkHeavy";
    src: url('/static/font/folkpro-heavy.otf');
}
@font-face {
    font-family: "Roboto";
    src: url('/static/font/roboto-bold.ttf');
}

body {
    position: fixed;
    width: 1920px;
    height: 1080px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-transform: uppercase;
    color: white;
    font-family: "Deansgate";
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
}

.fullscreen {
    position: fixed;
    width: 1920px;
    height: 1080px;
}

#background {
    z-index: -1;
    position: fixed;
    width: 1920px;
    height: 1080px;
}

svg {
    /* Scaling the 48px-tall score ticks by 0.75 sets its height to 35 instead of 36.
    Scaling the p2 score ticks by -1 to flip it also fixes this issue and sets the
    height to 36 again. Scaling the remaining score ticks by 1 fixes the remaining heights. */
    transform: scaleX(1);
}

.absol {
    position: absolute;
}

.scores {
    display: flex;
    justify-content: center;
    line-height: 0;
    height: 48px;
}

#p1Scores {
    flex-direction: row-reverse;
}

.score-tick {
    opacity: 0;
    height: 100%;
}

.score-tick-svg {
    height: 100%;
}

.score-tick-background {
    fill: white;
    height: 100%;
}
.score-tick-foreground {
    fill: #202020;
}
.score-tick-foreground-wl {
    fill: #202020;
    font-family: "Consolas";
    font-size: 40px;
}

.link {
    display: flex;
    gap: 0.25em;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 1em;
    font-family: "Roboto";
    /* color: #a8a8a8; */
    color: white;
}
.link-icon {
    fill: white;
    stroke: white;
    /* fill: #a8a8a8;
    stroke: #a8a8a8; */
    width: 1.25em;
}

.link-text {
    color: white;
}