@media (max-width: 1305px) and (orientation:landscape) {
	body {
	   zoom: 100%;
   	}
}

@media (max-width: 1186px) and (orientation:landscape) {
 	body {
		zoom: 90%;
	}
}

@media (max-width: 1065px) and (orientation:landscape) {
	body {
	   zoom: 80%;
   }
}

@media (max-width: 947px) and (orientation:landscape) {
	body {
	   zoom: 70%;
   }
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #444;
	font-family: sans-serif;
	color: white;
}

button {
	background-color: #FFF;
}

#header {
	display: flex;
	flex-direction: row;
}

#main {
	display: flex;
	flex-direction: row;
}

#left_wrapper {
  	display: flex;
	flex-direction: column;
}

#right_wrapper {
	display: flex;
	flex-direction: column;
}

.icon {
	width: 2em;
	height: 2em;
	margin: 10px;
	filter: drop-shadow(0 4px 1px #202020)
}

.row {
	display: flex;
	flex-direction: row;
	margin: 5px 10px;
}

.player {
	display: inline-block;
	width: 420px;
	text-align: center;
}

.player.actual {
	margin: 0px 10px 0px 10px;
}

.pronouns.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

#data_actual {
	display: flex;
	align-items: center;
    height: 70px !important;
    background-color: #333;
    border-radius: 5px;
    margin-bottom: 10px;
}

.data {
	display: inline-block;
	text-align: center;
}

.info {
	display: flex;
	place-items: center;
	height: 150px;
	background-color: #222;
	border-radius: 5px;
	margin-bottom: 10px;
}

.info.left {
	background-color: #442222;
}

.info.right {
	background-color: #222244;
}

.info.actual {
	height: 70px !important;
	background-color: #333;
	border-radius: 5px;
	margin: 0px 10px 0px 10px;
}

.info.change {
	display: flex;
	flex-direction: row;
	place-items: center;
	justify-content: center;
	border-radius: 5px;
	margin: 0px 10px 0px 10px;
}

.name.actual {
	height: 18px;
	font-size: 20px;
	padding: 2px 10px 2px 10px;
	margin: 3px 0px 3px 0px;
	appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    background: #444444;
    color: #fff;
    width: 240px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 2px #202020;
}

.name.actual.left {
	text-align: right;
}

.name.actual.right {
	text-align: left;
}

.score {
	font-size: 50px;
	width: 80px;
	text-align: center;
	border-radius: 5px;
	margin: 10px;
}

.score.actual {
	font-size: 30px;
	width: 20px;
	margin: 0px 5px 0px 5px;
	padding: 5px 10px 5px 10px;
	appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    background: #444444;
    color: #fff;
    border: none;
    box-shadow: 0px 4px 2px #202020;
}

.name.change {
	height: 32px;
	font-size: 24px;
	padding: 2px 10px 2px 10px;
	margin: 10px 10px 10px 10px;
	appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    background: #fff;
    color: #323232;
    width: 360px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 2px #202020;
	text-align: right;
}

#middle_row {
	justify-content: center;
}
#middle_row button {
	margin: 10px;
}

#data_wrapper input, #data_wrapper button {
	margin: 10px;
}

#outer_displayed {
	text-align: center;
	display: none;
}

#inner_change {
	text-align: center;
	color: #CBFFC7;
}

#outer_change {
	text-align: center;
	display: none;
	color: #CBFFC7;
}

#p1_stock {
	display: none;
}

#p2_stock {
	display: none;
}

.name {
	font-size: 24px;
}

.stock_icon.actual {
	width: 32px;
	height: 32px;
	text-align: center;
}

.character_container.actual {
	display: flex;
}

.character_container.change {
	display: flex;
}

.csp.actual {
	width: 90px;
	height: 124px;
	margin: 10px;
}

.css1 {
	background-color: transparent;
	border-radius: 5px;
	box-shadow: 0px 4px 2px #000;
	/*width: 64px;
	height: 60px;*/
}

.css2 {
	background-color: transparent;
	border-radius: 5px;
	box-shadow: 0px 4px 2px #000;
}

.characters {
	padding: 20px 0 20px 0;
	border-radius: 5px;
	background-color: #222;
	margin-bottom: 10px;
}

.csp_container {
	border-radius: 5px;
	background-color: #222;
	margin-bottom: 10px;
}

.stock {
	display: none;
}

.stock {
	margin: 0px 40px 0px 40px;
}

#doubles_info {
	opacity: 0;
	letter-spacing: 1px;
	margin-top: 10px;
	transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}

input {
	padding: 10px 10px 10px 10px;
	appearance: none;
	-webkit-appearance: none;
	display: inline-block;
	background: #fafafa;
	color: #323232;
	width: 100%;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 4px 2px #000;
}

input:focus {
	outline: none;
}

select {
	display: none;
	font-size: 16px;
	width: 203px;
	appearance: none;
	-webkit-appearance: none;
	padding: 10px 25px 10px 10px;
	display: inline-block;
	background: #fafafa;
	color: #323232;
	box-shadow: 0px 4px 2px #222;
	border-radius: 5px;
	background-position: right 50%;
    background-repeat: no-repeat;
	background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
}

select:focus {
	outline: none;
}

button {
	width: 116px;
	padding: 10px 0px;
	cursor: pointer;
	box-shadow: 0px 4px 2px #222;
	border-radius: 5px;
	line-height: 18px;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	letter-spacing: 1px;
	vertical-align: middle;
	border: none;
	border-bottom: 3px solid #AAA;
}

button:focus {
	outline: none;
}

.data_text.actual {
	margin: 5px 10px 5px 10px;
}

#round_actual {
	padding: 5px 5px 5px 5px;
	width: 132px;
	font-size: 16px;
	height: 15px;
	color: #fff;
	background-color: #444;
	box-shadow: 0px 4px 2px #202020;
	text-align: center;
}

#best_of_actual {
	padding: 5px 5px 5px 5px;
	width: 80px;
	font-size: 16px;
	height: 15px;
	color: #fff;
	background-color: #444;
	box-shadow: 0px 4px 2px #202020;
	text-align: center;
}

.caster {
	width: 132px;
	margin-bottom: 5px;
}

.update {
	font-size: 16px;
	padding: 12px 0px;
	margin: 5px 5px 5px 5px;
	margin-bottom: 10px;
	color: #323232;
	background-color: #CBFFC7;
	border: none;
	border-bottom: 3px solid #64B55E;
}

.update:hover {
	background-color: #A3FF9C;

}

#scene_box {
	display: flex;
	align-items: center;
	text-align: center;
}

.scene {
	background-color: #FFF;
	margin: 5px;
	padding: 4px 4px;
	border: none;
	border-bottom: 3px solid #AAA;
}

.scene:hover {
	background-color: #CCC;
}

#casters_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center
}

#caster_box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.doubles_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.swap {
	font-size: 20px;
	margin: 5px;
	color: #323232;
	background-color: #FFF;
	border: none;
	border-bottom: 3px solid #AAA;
	height: 39px;
	width: 30px
}

.swap:hover {
	background-color: #CCC;
}

.swap_sides {
	font-size: 14px;
	margin: 5px;
	color: #323232;
	background-color: #FFF;
	border: none;
	border-bottom: 3px solid #AAA;
	height: 39px;
}

.swap_sides:hover {
	background-color: #CCC;
}

.load:hover {
	background-color: #CCC;
}

.toggle_doubles {
	font-size: 14px;
	margin: 5px 5px 5px 5px;
	color: #323232;
	background-color: #FFF;
	border: none;
	border-bottom: 3px solid #AAA;
	height: 39px;
}

.toggle_doubles:hover {
	background-color: #CCC;
}


.name_container.actual {
	display: flex;
	flex-direction: column;
	margin: 0px 10px 0px 10px;
	width: 261px;
}

.name_container.change {
	display: flex;
	flex-direction: column;
}

#p1_text_actual {
	margin-top: 0px !important;
}

#p1_character_actual {
}

#p1d_character_actual {
}

#p1_score_actual {
}

#p2_text_actual {
	margin-top: 0px !important;
}

#p1d_character_actual {
}

#p1_character_actual {
}

#p1_text_change {
}

#p2_text_change {
}

#team1_swap {
}

#team2_swap {
}

.name.change {
	box-shadow: 0px 4px 2px #000;
}

#p1_character_change {
}

#p2_character_change {
}

#p1d_character_change {
}

#p2d_character_change {
}

.doubles_colours {
	margin: 0px 24px 0px 24px;
	width: 320px;
}

#tournament_change {
	width: 132px;
	height: 18px;
	font-size: 16px;
}

#round_change {
	width: 132px;
	height: 18px;
	font-size: 16px;
}

.best_of {
	font-size: 14px;
	margin: 5px 0px 5px 0px;
	color: #323232;
	background-color: #FFF;
	border: none;
	border-bottom: 3px solid #AAA;
	height: 39px;
	width: 90px;
}

.load {
	padding: 4px 4px;
	margin: 5px;
	width: auto;
	background-color: #FFF;
	border: none;
	border-bottom: 2px solid #AAA;
}

/* OBS */
#obs_wrapper {
	display: none;
	align-items: center;
	background-color: #333;
	border-radius: 5px;
}

#obs_wrapper input, #obs_wrapper button {
	margin: 10px;
}

#load_tournament_data {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #666;
	border-radius: 5px;
}

#load_tournament_data > select {
	font-size: 14px;
	padding: 5px;
}

input.timecode {
	font-size: 14px;
	padding: 5px;
}

button.timecode {
	font-size: 10px;
	padding: 5px;
}

#load_tournament_data > * {
	margin: 10px;
}

#obs_auto input, #obs_auto button {
	margin: 10px;
}

button:disabled {
	background-color: rgb(170, 170, 170) !important;
	border-bottom: 3px solid rgb(153, 153, 153) !important;
}

/* START.GG */
#startgg_wrapper {
	align-items: center;
	background-color: #333;
	border-radius: 5px;
}

#startgg_wrapper input, #startgg_wrapper button {
	margin: 10px;
}

#tournament_slug {
	width: 120px;
	height: 15px;
}

#tournament_slug_submit {
}

.screenshot_container {
	width: 12em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 10px;
}

.screenshot {
	max-width: 100%;
	border-radius: 5px;
}

.timecode-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.timecode {
	max-width: 50%;
	margin: 5px;
}

.timecode.button {
	height: 26px;
	padding: 3px;
	max-width: 25%;
	margin: 5px;
}

#get_sets {
	display: none;
}

#right_wrapper {
	display: none;
	flex-direction: column;
	border-radius: 5px;
	background-color: #222;
	padding: 5px;
}

#pages {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#pages button {
	height: 25px;
	width: 40px;
	padding: 2px;
	margin: 0 10px;
}

#page_left {
	display: none;
}

#page_right {
	display: none;
}

.set {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 80px;
	background-color: #336;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

.set.wrapper.left {
	width: 140px;
	display: flex;
	flex-direction: column;
	padding: 0px;
}

.set.wrapper.right {
	width: 120px;
	display: flex;
	padding: 0px;
}

#set1 {
	display: none;
}

#set2 {
	display: none;
}

#set3 {
	display: none;
}

#set4 {
	display: none;
}

#set5 {
	display: none;
}

.recording {
	background-color: #284CB8;
	border-bottom-color: darkblue;
}

.startgg.name {
	text-align: center;
	font-size: 16px;
	width: 140px;
}

.startgg.name.left {
}

.startgg.name.vs {
	color: #AAA;
}

.startgg.name.right {
}

.startgg.round {
	width: 120px;
	text-align: center;
	font-size: 14px;
}

.startgg.button.load {
	height: 30px;
	width: 70px;
	padding: 2px;
}

.startgg.bottom.button {
	height: 30px;
	width: 70px;
	padding: 4px 5px 1px 5px;
	margin: 0px 10px;
}

.startgg.input.c {
	display: none;
	width: 120px;
	height: 35px;
	padding: 5px 10px 5px 10px;
	font-size: 14px;
}

.startgg.input {
	margin: 0px 10px;
}

#phase_groups {
	width: 100px;
}

input.pronouns {
	width: 70px;
	padding: 5px;
	margin: 10px;
	text-align: right;
}

input.startgg.display {
	background-color: #fff;
	color: #333;
	font-size: 11px;
	height: 16px;
	width: 80px;
	padding: 2px;
	margin: 2px 10px;
	text-align: right;
}

input.left {
	border-bottom: 2px solid #F56262 !important;
}

input.right {
	border-bottom: 2px solid #4A6DD9 !important;
}

.score_wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#display_set_results {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media (orientation:portrait) {
	body {
		/*change orientation for mobile*/
	}
}