/*@media (max-width: 1920px) {
	body {
	   zoom: 130%;
   }
}

@media (max-width: 1538px) {
	body {
	   zoom: 120%;
   }
}

@media (max-width: 1424px) {
	body {
	   zoom: 110%;
   }
}*/

@media (max-width: 1305px) {
	body {
	   zoom: 100%;
   }
}

@media (max-width: 1186px) {
 	body {
		zoom: 90%;
	}
}

@media (max-width: 1065px) {
	body {
	   zoom: 80%;
   }
}

@media (max-width: 947px) {
	body {
	   zoom: 70%;
   }
}

body {
	display: grid;
	grid-template-columns: 880px [col-start] 280px [col-start] 800px [col-start];
	background-color: #444;
	font-family: sans-serif;
	color: white;
}

a {
	display: block;
	margin-bottom: 5px;
}

#left_wrapper {
  	display: grid;
	  grid-template-rows: 100px [row-start] 160px [row-start] 58px [row-start] 160px [row-start] 80px [row-start] 80px [row-start] 37px [row-start];
}

#right_wrapper {
	display: grid;
	grid-template-rows: 100px [row-start] 600px [row-start];
}

.row {
	grid-column: 1;
	display: grid;
}

.player {
	display: inline-block;
	width: 420px;
	text-align: center;
}

.player.actual {
	margin: 0px 10px 0px 10px;
}

#row1 {
	grid-template-columns: 440px [col-start] 440px [col-start];
	height: 100px;
}

#row2, #row4 {
	grid-template-columns: 880px [col-start] 440px;
	height: 160px;
}

#row3 {
	height: 58px;
	grid-template-columns: 227px [col-start] 80px [col-start] 371px [col-start];
}

#row5 {
	place-items: center;
	grid-template-columns: 172px [col-start] 95px [col-start] 95px [col-start] 150px [col-start] 242px [col-start] 116px [col-start];
}

#player1 {
	grid-column: 1;
}

#player2 {
	grid-column: 2;
}

#data_actual {
	display: grid;
    place-items: center;
    height: 70px !important;
    background-color: #333;
    border-radius: 5px;
    margin-bottom: 10px;
}

.data {
	display: inline-block;
	text-align: center;
}

.info {
	display: grid;
	place-items: center;
	height: 150px;
	background-color: #222;
	border-radius: 5px;
	margin-bottom: 10px;
}

.info.actual {
	height: 70px !important;
	background-color: #333;
	border-radius: 5px;
	margin: 0px 10px 0px 10px;
}

.info.change {
	border-radius: 5px;
	margin: 0px 10px 0px 10px;
}

#p1_info_actual {
	display: grid;
	place-items: center;
	grid-template-columns: 280px [col-start] 45px [col-start] 45px [col-start] 50px [col-start];
}

#p2_info_actual {
	display: grid;
	place-items: center;
	grid-template-columns: 50px [col-start] 45px [col-start] 45px [col-start] 280px [col-start];
}

.info.change {
	display: grid;
	place-items: center;
	grid-template-columns: 80px [col-start] 400px [col-start] 120px [col-start] 120px [col-start] 100px [col-start];
}

.tag.actual {
	height: 18px;
	font-size: 20px;
	padding: 2px 10px 2px 10px;
	margin: 3px 0px 3px 0px;
    -webkit-appearance: none;
    display: inline-block;
    background: #444444;
    color: #fff;
    width: 240px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 2px #202020;
}

.tag.actual.left {
	text-align: right;
}

.tag.actual.right {
	text-align: left;
}

.score {
	font-size: 50px;
	width: 80px;
	text-align: center;
	border-radius: 5px;
}

.score.actual {
	font-size: 30px;
	width: 20px;
	margin: 0px 5px 0px 5px;
	padding: 5px 10px 5px 10px;
    -webkit-appearance: none;
    display: inline-block;
    background: #444444;
    color: #fff;
    border: none;
    box-shadow: 0px 4px 2px #202020;
}

.score {
	font-size: 50px;
	width: 80px;
	text-align: center;
	border-radius: 5px;
}

.tag.change {
	height: 32px;
	font-size: 24px;
	padding: 2px 10px 2px 10px;
	margin: 10px 10px 10px 10px;
    -webkit-appearance: none;
    display: inline-block;
    background: #fff;
    color: #323232;
    width: 360px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 2px #202020;
	text-align: right;
}

#outer_displayed {
	text-align: center;
	display: none;
}

#inner_change {
	text-align: center;
	color: #CBFFC7;
}

#outer_change {
	text-align: center;
	display: none;
	color: #CBFFC7;
}

#p1_stock {
	display: none;
}

#p2_stock {
	display: none;
}

#manual_button {
	position: absolute;
	left: 60px;
	bottom: 10px;
	font-size: 24px;
	margin: 5px;
	margin-top: 20px;
	color: #323232;
	background-color: #fff;
	border: none;
	border-bottom: 3px solid #AAA;
	height: 39px;
	width: 40px;
	padding: 3px 1px 3px 3px;
}

#settings_button {
	position: absolute;
	left: 10px;
	bottom: 10px;
	font-size: 24px;
	margin: 5px;
	margin-top: 20px;
	color: #323232;
	background-color: #5EEBB1;
	border: none;
	border-bottom: 3px solid #25634a;
	height: 39px;
	width: 40px;
	padding: 3px 1px 3px 3px;
}

.tag {
	font-size: 24px;
}

.stock_icon.actual {
	width: 32px;
	height: 32px;
	text-align: center;
}

.character_container.actual {
	display: grid;
	place-items: center;
	grid-template-columns: 45px [col-start] 45px [col-start];
}

.character_container.change {
	display: grid;
	place-items: center;
	grid-template-columns: 120px [col-start] 120px [col-start];
}

.csp.actual {
	width: 90px;
	height: 124px;
}

.css1 {
	background-color: transparent;
	border-radius: 5px;
	box-shadow: 0px 4px 2px #000;
	/*width: 64px;
	height: 60px;*/
}

.css2 {
	background-color: transparent;
	border-radius: 5px;
	box-shadow: 0px 4px 2px #000;
}

.characters {
	padding: 20px 0 20px 0;
	border-radius: 5px;
	background-color: #222;
	margin-bottom: 10px;
}

.csp_container {
	border-radius: 5px;
	background-color: #222;
	margin-bottom: 10px;
}

.stock {
	display: none;
}

.stock {
	margin: 0px 40px 0px 40px;
}

#doubles_info {
	opacity: 0;
	letter-spacing: 1px;
	margin-top: 10px;
	-webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}

input {
	padding: 10px 10px 10px 10px;
	-webkit-appearance: none;
	display: inline-block;
	background: #fafafa;
	color: #323232;
	width: 100%;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 4px 2px #000;
}

input:focus {
	outline: none;
}

#scenes {
	margin: 5px 5px 0px 5px;
}

select {
	display: none;
	font-size: 16px;
	width: 203px;
	-webkit-appearance: none;
	padding: 10px 25px 10px 10px;
	display: inline-block;
	background: #fafafa;
	color: #323232;
	box-shadow: 0px 4px 2px #222;
	border-radius: 5px;
	background-position: right 50%;
    background-repeat: no-repeat;
	background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
}

select:focus {
	outline: none;
}

button {
	width: 116px;
	padding: 8px 0px;
	cursor: pointer;
	box-shadow: 0px 4px 2px #222;
	border-radius: 5px;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	letter-spacing: 1px;
	vertical-align: middle;
	border: none;
	border-bottom: 3px solid #AAA;
}

button:focus {
	outline: none;
}

.data_text.actual {
	margin: 5px 10px 5px 10px;
}

#round_actual {
	grid-column: 1;
	padding: 5px 5px 5px 5px;
	width: 132px;
	font-size: 16px;
	height: 15px;
	color: #fff;
	background-color: #444;
	box-shadow: 0px 4px 2px #202020;
	text-align: center;
}

#best_of_actual {
	grid-column: 2;
	padding: 5px 5px 5px 5px;
	width: 80px;
	font-size: 16px;
	height: 15px;
	color: #fff;
	background-color: #444;
	box-shadow: 0px 4px 2px #202020;
	text-align: center;
}

.caster {
	width: 132px;
	margin-bottom: 5px;
}

.update {
	grid-column: 6;
	font-size: 16px;
	padding: 12px 0px;
	margin: 5px 5px 5px 5px;
	margin-bottom: 10px;
	color: #323232;
	background-color: #CBFFC7;
	border: none;
	border-bottom: 3px solid #64B55E;
}

.update:hover {
	background-color: #A3FF9C;

}

#scene_box {
	display: none;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.scene {
	background-color: #FFF;
	margin: 5px;
	padding: 4px 4px;
	border: none;
	border-bottom: 3px solid #AAA;
}

.scene:hover {
	background-color: #CCC;
}

#casters_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center
}

#caster_box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.doubles_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.swap {
	font-size: 20px;
	margin: 5px;
	color: #323232;
	background-color: #FFF;
	border: none;
	border-bottom: 3px solid #AAA;
	height: 39px;
	width: 30px
}

.swap:hover {
	background-color: #CCC;
}

.swap_sides {
	grid-column: 2;
	font-size: 14px;
	margin: 5px;
	color: #323232;
	background-color: #FFF;
	border: none;
	border-bottom: 3px solid #AAA;
	height: 39px;
}

.swap_sides:hover {
	background-color: #CCC;
}

.load:hover {
	background-color: #CCC;
}

.toggle_doubles {
	font-size: 14px;
	margin: 5px 5px 5px 5px;
	color: #323232;
	background-color: #FFF;
	border: none;
	border-bottom: 3px solid #AAA;
	height: 39px;
}

.toggle_doubles:hover {
	background-color: #CCC;
}


.tag_container.actual {
	margin: 0px 10px 0px 10px;
	width: 261px;
}

.tag_container.change {
	grid-column: 2;
	width: 400px !important;
}

#p1_text_actual {
	grid-column: 1;
	margin-top: 0px !important;
}

#p1_character_actual {
	grid-column: 2;
}

#p1d_character_actual {
	grid-column: 3;
}

#p1_score_actual {
	grid-column: 4;
}

#p2_text_actual {
	grid-column: 4;
	margin-top: 0px !important;
}

#p1d_character_actual {
	grid-column: 3;
}

#p1_character_actual {
	grid-column: 2;
}

#p1_text_change {
}

#p2_text_change {
}

#team1_swap {
	grid-column: 1;
}

#team2_swap {
	grid-column: 1;
}

.tag.change {
	box-shadow: 0px 4px 2px #000;
}

.tag.change.left {
	grid-column: 2;
	border-bottom: 2px solid #F56262;
}

.tag.change.right {
	grid-column: 2;
	border-bottom: 2px solid #4A6DD9;
}

#p1_character_change {
	grid-column: 3;
}

#p2_character_change {
	grid-column: 3;
}

#p1d_character_change {
	grid-column: 4;
}

#p2d_character_change {
	grid-column: 4;
}

#p1_score_change {
	grid-column: 5;
	border-bottom: 2px solid #F56262;
}

#p2_score_change {
	grid-column: 5;
	border-bottom: 2px solid #4A6DD9;
}

.doubles_colours {
	margin: 0px 24px 0px 24px;
	width: 320px;
}

#round_change {
	width: 132px;
	height: 18px;
	font-size: 16px;
}

.best_of {
	font-size: 14px;
	margin: 5px 0px 5px 0px;
	color: #323232;
	background-color: #FFF;
	border: none;
	border-bottom: 3px solid #AAA;
	height: 39px;
	width: 90px;
}

.load {
	padding: 4px 4px;
	margin: 5px;
	width: auto;
	background-color: #FFF;
	border: none;
	border-bottom: 2px solid #AAA;
}

/* START.GG */
#row6 {
	display: grid;
	place-items: center;
	grid-template-columns: 180px [col-start] 100px [col-start] 180px [col-start] 100px [col-start];
}

#tournament_slug {
	grid-column: 1;
	width: 140px;
	height: 15px;
}

#tournament_slug_submit {
	grid-column: 2;
}

#event {
	display: none;
	grid-column: 3;
	width: 160px;
	height: 35px;
	padding: 5px 10px 5px 10px;
	font-size: 14px;
}

#event_submit {
	display: none;
	grid-column: 4;
}

#row1r {
	grid-column: 1;
	grid-row: 1;
}

#row2r {
	grid-column: 1;
	grid-row: 2;
	display: none;
	grid-template-rows: 50px [row-start] 110px [row-start] 110px [row-start] 110px [row-start] 110px [row-start] 110px [row-start];
	border-radius: 5px;
	background-color: #222;
	padding: 5px;
}

.set {
	display: grid;
	place-items: center;
	grid-template-columns: 140px [col-start] 120px [col-start];
	grid-template-rows: 30px [col-start] 30px [col-start] 30px [col-start];
	height: 90px;
	background-color: #336;
	border-radius: 5px;
	padding: 5px;
}

#set1 {
	display: none;
	grid-row: 2;
}

#set2 {
	display: none;
	grid-row: 3;
}

#set3 {
	display: none;
	grid-row: 4;
}

#set4 {
	display: none;
	grid-row: 5;
}

#set5 {
	display: none;
	grid-row: 6;
}

#pages {
	display: grid;
	place-items: center;
	grid-template-columns: 135px [col-start] 135px [col-start];
}

.page_button {
	height: 25px;
	width: 40px;
	padding: 2px;
}

#page_left {
	display: none;
	grid-column: 1;
}

#page_right {
	display: none;
	grid-column: 2;
}

.startgg.tag {
	text-align: center;
	font-size: 18px;
}

.startgg.tag.left {
	grid-row: 1;
}

.startgg.tag.vs {
	color: #AAA;
	grid-row: 2;
}

.startgg.tag.right {
	grid-row: 3;
}

.startgg.round {
	text-align: center;
	font-size: 14px;
}

.startgg.button.load {
	height: 30px;
	width: 70px;
	margin-top: 30px;
	padding: 2px;
}

.startgg.bottom.button {
	height: 30px;
	width: 70px;
	padding: 4px 5px 1px 5px;
	margin-right: 20px;
}