@font-face {
	font-family: Hey Comic;
	src: url("/static/font/heycomic.ttf") format("truetype");
}

@font-face {
	font-family: Happy School;
	src: url("/static/font/happyschool.ttf") format("truetype");
}

html {
	overflow: hidden;
}

body {
	margin: 0px;
}

.hidden {
	position: absolute;
	transform: scale(0) !important;
}

.flipped {
	transform: scale(-1, 1);
}