<div id="characters" class="characters">
    <div id="char-row-1" class="character-row">
        <img id="drmario" class="css-character" src="static/img/css_icons/drmario.png">
        <img id="mario" class="css-character" src="static/img/css_icons/mario.png">
        <img id="luigi" class="css-character" src="static/img/css_icons/luigi.png">
        <img id="bowser" class="css-character" src="static/img/css_icons/bowser.png">
        <img id="peach" class="css-character" src="static/img/css_icons/peach.png">
        <img id="yoshi" class="css-character" src="static/img/css_icons/yoshi.png">
        <img id="donkeykong" class="css-character" src="static/img/css_icons/donkeykong.png">
        <img id="captainfalcon" class="css-character" src="static/img/css_icons/captainfalcon.png">
        <img id="ganondorf" class="css-character" src="static/img/css_icons/ganondorf.png">
    </div>
    <div id="row2" class="character-row">
        <img id="falco" class="css-character" src="static/img/css_icons/falco.png">
        <img id="fox" class="css-character" src="static/img/css_icons/fox.png">
        <img id="ness" class="css-character" src="static/img/css_icons/ness.png">
        <img id="iceclimbers" class="css-character" src="static/img/css_icons/iceclimbers.png">
        <img id="kirby" class="css-character" src="static/img/css_icons/kirby.png">
        <img id="samus" class="css-character" src="static/img/css_icons/samus.png">
        <img id="sheik" class="css-character" src="static/img/css_icons/sheik.png">
        <img id="zelda" class="css-character" src="static/img/css_icons/zelda.png">
        <img id="link" class="css-character" src="static/img/css_icons/link.png">
        <img id="younglink" class="css-character" src="static/img/css_icons/younglink.png">
    </div>
    <div id="row3" class="character-row">
        <img id="pichu" class="css-character" src="static/img/css_icons/pichu.png">
        <img id="pikachu" class="css-character" src="static/img/css_icons/pikachu.png">
        <img id="jigglypuff" class="css-character" src="static/img/css_icons/jigglypuff.png">
        <img id="mewtwo" class="css-character" src="static/img/css_icons/mewtwo.png">
        <img id="gameandwatch" class="css-character" src="static/img/css_icons/gameandwatch.png">
        <img id="marth" class="css-character" src="static/img/css_icons/marth.png">
        <img id="roy" class="css-character" src="static/img/css_icons/roy.png">
        <img id="empty" class="css-character css-empty" src="static/img/css_icons/empty.png">
    </div>
</div>
<div id="csp" class="csp-container">
    <img id="colour1" class="char-colour" src="static/img/stock_icons/empty.png">
    <img id="colour2" class="char-colour" src="static/img/stock_icons/empty.png">
    <img id="colour3" class="char-colour" src="static/img/stock_icons/empty.png">
    <img id="colour4" class="char-colour" src="static/img/stock_icons/empty.png">
    <img id="colour5" class="char-colour" src="static/img/stock_icons/empty.png">
    <img id="colour6" class="char-colour" src="static/img/stock_icons/empty.png">
</div>
<link rel="stylesheet" type="text/css" href="css/characterChange.css">
<script src="scripts/characterChange.js"></script>