<div class="footer">
	<a class="navlink" href="/auto"><img class="svg-icon" src="static/img/slippi.svg"/></a>
	<a class="navlink" href="/array-reporting"><img class="svg-icon" src="static/img/tv.svg"/></a>
	<a class="navlink" href="/settings"><i class="fas fa-cog"></i></a>
</div>
<link rel="stylesheet" type="text/css" href="css/footer.css">
<script src="scripts/footer.js"></script>