@media (max-width: 1305px) and (orientation:landscape) {
	body {
		zoom: 100%;
	}
}

@media (max-width: 1186px) and (orientation:landscape) {
	body {
		zoom: 90%;
	}
}

@media (max-width: 1065px) and (orientation:landscape) {
	body {
		zoom: 80%;
	}
}

@media (max-width: 947px) and (orientation:landscape) {
	body {
		zoom: 70%;
	}
}

.stroke {
}

/* GENERAL */
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
	background-color: #443344;
	font-family: sans-serif;
	color: white;
}

button {
	width: 116px;
	box-shadow: 0px 4px 2px #222;
	padding: 10px 0px;
	cursor: pointer;
	border-radius: 5px;
	line-height: 18px;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	letter-spacing: 1px;
	vertical-align: middle;
	border: none;
	border-bottom: 3px solid #AAA;
}

button:focus {
	outline: none;
	box-shadow: 0px 4px 2px black !important;
}

.score-changer:focus {
	box-shadow: 0px 1px 2px #222 !important;
}

input {
	padding: 10px 10px 10px 10px;
	appearance: none;
	-webkit-appearance: none;
	display: inline-block;
	background: #fafafa;
	color: #323232;
	width: 100%;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 4px 2px #222;
}

input:focus {
	outline: none;
	box-shadow: 0px 4px 2px black !important;
}

select {
	display: none;
	font-size: 14px;
	width: 160px;
	appearance: none;
	-webkit-appearance: none;
	padding: 10px 25px 10px 10px;
	display: inline-block;
	background: #fafafa;
	color: #323232;
	box-shadow: 0px 4px 2px #222;
	border-radius: 5px;
	background-position: right 50%;
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
}

select:focus {
	outline: none;
	box-shadow: 0px 4px 2px black !important;
}

.info {
	display: flex;
	place-items: center;
	border-radius: 5px;
}

.name-container {
	display: flex;
	flex-direction: column;
}

.name-container.change {
	gap: 10px;
}

.column {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.icon {
	width: 2em;
	height: 2em;
	margin: 10px;
	filter: drop-shadow(0 4px 1px #202020)
}

.clip {
	width: 30px;
}

#ffmpeg-clip {
	width: 50px;
	height: 50px;
	padding: 0;
}

.score.change::-webkit-inner-spin-button, 
.score.change::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.score.change {
	-moz-appearance: textfield;
}

.column.changer {
	margin-left: -38px;
	gap: 5px;
}

button.score-changer {
	height: 30px;
	width: 24px;
	padding: 0;
	box-shadow: none;
	font-size: 18px;
}

.startgg.bottom.button:focus,
button:disabled {
	background-color: rgb(170, 170, 170) !important;
	border-bottom: 3px solid rgb(153, 153, 153) !important;
}

.label {
	text-align: center;
	padding: 5px 0;
	border-radius: 5px;
	font-size: 18px;
	color: #FFF;
}

#top-label {
	background-color: #332233;
	padding: 5px 20px;
}

#left-label {
	background-color: #442222;
}

#right-label {
	background-color: #222244;
}

/* HEADER */

#header {
	display: flex;
	flex-direction: row;
	height: 70px;
	gap: 0.5em;
}

.info.actual,
.data.actual {
	padding: 0.5em;
	display: flex;
	align-items: center;
	background-color: #332233;
	border-radius: 5px;
	gap: 0.5em;
}

.data-text.actual {
	padding: 5px 5px 5px 5px;
	font-size: 14px;
	height: 12px;
	color: #fff;
	background-color: #444;
	box-shadow: 0px 4px 2px #202020;
	text-align: center;
}

#round-actual {
	width: 132px;
}

#best-of-actual {
	width: 40px;
}

.name-container.actual {
	padding: 5px;
}

.name.actual {
	height: 18px;
	font-size: 20px;
	padding: 2px 10px 2px 10px;
	margin: 3px 0px 3px 0px;
	appearance: none;
	-webkit-appearance: none;
	display: inline-block;
	background: #444444;
	color: #fff;
	width: 180px;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 4px 2px #202020;
}

.name.actual.left {
	text-align: right;
}

.name.actual.right {
	text-align: left;
}

.stock-icon.actual {
	width: 30px;
	height: 30px;
	text-align: center;
}

.score.actual {
	font-size: 32px;
	width: 20px;
	margin: 0px 5px 0px 5px;
	padding: 5px 10px 5px 10px;
	appearance: none;
	-webkit-appearance: none;
	display: inline-block;
	background: #444444;
	color: #fff;
	border: none;
	box-shadow: 0px 4px 2px #202020;
}

.character-container.actual {
	display: flex;
}

input.startgg.display {
	background-color: #fff;
	color: #332233;
	font-size: 11px;
	height: 16px;
	width: 80px;
	padding: 2px;
	margin: 2px 10px;
	text-align: left;
}

/* MAIN */

#main {
	display: flex;
	flex-direction: row;
	color: #323232;
}

#left-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	min-width: 750px;
}

#right-wrapper {
	display: none;
	flex-direction: column;
	gap: 0.5em;
	border-radius: 5px;
	background-color: #332233;
	padding: 5px;
	color: #FFF;
}

#p1-info-change {
	background-color: #442222;
}

#p2-info-change {
	background-color: #222244;
}

.info.change {
	flex-direction: row;
	justify-content: center;
	border-radius: 5px;
	gap: 10px;
	padding: 10px;
}

.swap {
	font-size: 20px;
	color: #323232;
	background-color: #FFF;
	border: none;
	border-bottom: 3px solid #AAA;
	height: 39px;
	width: 30px
}

.swap:hover {
	background-color: #CCC;
}

.pronouns.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
}

input.pronouns {
	width: 70px;
	padding: 5px;
	text-align: right;
}

.row {
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	align-items: center;
}

.name.change {
	height: 32px;
	font-size: 24px;
	padding: 2px 10px 2px 10px;
	appearance: none;
	-webkit-appearance: none;
	display: inline-block;
	background: #fff;
	color: #323232;
	width: 260px;
	border: none;
	border-radius: 5px;
	text-align: right;
}

.csp.change {
	width: 68px;
	height: 93px;
}

.score {
	font-size: 50px;
	width: 55px;
	text-align: center;
	border-radius: 5px;
	padding-right: 32px;
}

.swap-sides {
	font-size: 14px;
	color: #323232;
	background-color: #FFF;
	border: none;
	border-bottom: 3px solid #AAA;
	height: 39px;
}

.swap-sides:hover {
	background-color: #CCC;
}

#middle-row {
	justify-content: center;
}

/* Seating */

#seat-wrapper {
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	background-color: #332233;
	height: 80px;
}

.seat {
	background-color: #674467;
	padding: 10px;
	border-radius: 5px;
	gap: 0.5em;
	width: 110px;
}

.seat>.name {
	height: 18px;
}

.seat>span {
	color: #FFF;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	max-width: 130px;
}

.seat>.header>span {
	color: #FFF;
}

.seat-changer {
	padding: 3px;
	width: 50px;
	line-height: 12px;
}

.seat-changer.side {
	width: 30px;
	background-color: #9a739a;
	border-bottom: 3px solid #674467;
}

#seat-reset {
	width: 30px;
	height: 30px;
	padding: 3px 0 0 0;
}

/* Bottom submit */

#data-wrapper {
	justify-content: center;
	align-items: center;
	background-color: #332233;
	gap: 0.5em;
}

#data-wrapper input {
	width: 132px;
	height: 18px;
	font-size: 14px;
}

.best-of {
	font-size: 14px;
	border: none;
	height: 39px;
	width: 90px;
}

.update {
	font-size: 16px;
	padding: 12px 0px;
	margin: 5px 5px 5px 5px;
	color: #323232;
	background-color: #CBFFC7;
	border: none;
	border-bottom: 3px solid #64B55E;
}

.update:hover {
	background-color: #A3FF9C;

}

/* CASTERS */

#caster-wrapper {
	align-items: center;
	background-color: #332233;
	border-radius: 5px;
	gap: 0.5em;
}

#caster-icon {
	float: left;
}

.caster {
	gap: 0.5em;
	margin-right: 1em;
}

.caster-name {
	width: 140px;
}

.caster-pronouns {
	padding: 5px;
	width: 65px;
}

/* OBS */

#obs-wrapper {
	display: none;
	align-items: center;
	background-color: #332233;
	border-radius: 5px;
}

#scene-box {
	display: flex;
	align-items: center;
	text-align: center;
}

#obs-wrapper input,
#obs-wrapper button {
	margin: 10px;
}

/* start.gg */

#load-tournament-data {
	display: flex;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: #6d4f6d;
	border-radius: 5px;
}

#load-tournament-data>select {
	font-size: 14px;
	padding: 5px;
}

input.timecode {
	font-size: 14px;
	padding: 5px;
}

button.timecode {
	font-size: 10px;
	padding: 5px;
}

#load-tournament-data>* {
	margin: 10px;
}

/* startgg bottom */

#startgg-wrapper {
	display: flex;
	align-items: center;
	background-color: #332233;
	border-radius: 5px;
	gap: 0.5em;
}

#tournament-slug {
	width: 120px;
	height: 15px;
}

#tournament-slug-submit {
	display: none;
}

.startgg-submit.column {
	margin: 5px 0;
	gap: 4px;
}

.startgg.bottom.button {
	height: 25px;
	width: 80px;
	padding: 3px 3px 2px 3px;
}

#get-unfinished-sets {
	display: none;
}

#get-all-sets {
	background-color: #FF9999;
	border-bottom: 2px solid #AA4444;
	display: none;
}

.startgg.input.c {
	display: none;
	width: 120px;
	height: 35px;
	padding: 5px 10px 5px 10px;
	font-size: 14px;
}

#phase-groups {
	width: 100px;
}

/* Recorded sets */

.timecode-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.timecode {
	max-width: 50%;
	margin: 5px;
}

.timecode.button {
	height: 26px;
	padding: 3px;
	max-width: 25%;
	margin: 5px;
}

#tournament-wrapper {
	gap: 0.5em;
}

#set-update {
	padding: 3px;
}

#display-set-results {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #888;
	padding: 5px;
	border-radius: 5px;
}

.startgg.entrant.swap {
	font-size: 10px;
	padding: 2px;
	height: 25px;
	width: 25px;
}

#submit-startgg-set {
	margin: 5px;
	padding: 3px;
	width: 120px;
}

span.stage {
	text-align: center;
	display: inline-block;
	width: 2.5em;
}

.stock-icon.dark {
	filter: opacity(15%)
}

/* Right wrapper stuff */

.load {
	padding: 4px 4px;
	margin: 5px;
	width: auto;
	background-color: #FFF;
	border: none;
	border-bottom: 2px solid #AAA;
}

.load:hover {
	background-color: #CCC;
}

.scene:hover {
	background-color: #CCC;
}

#pages {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#pages button {
	height: 25px;
	width: 40px;
	padding: 2px;
	margin: 0 10px;
}

#page-left {
	display: none;
}

#page-right {
	display: none;
}

.set {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 80px;
	background-color: #336;
	border-radius: 5px;
	padding: 5px;
}

.set.wrapper.left {
	width: 140px;
	display: flex;
	flex-direction: column;
	padding: 0px;
}

.set.wrapper.right {
	width: 160px;
	display: flex;
	padding: 0px;
}

#set1,
#set2,
#set3,
#set4,
#set5 {
	display: none;
}

.startgg.name {
	text-align: center;
	font-size: 16px;
	width: 140px;
}

.startgg.name.vs {
	color: #AAA;
}

.startgg.name.display {
	width: 120px;
}

.startgg.name.display.left {
	text-align: right;
}

.startgg.name.display.right {
	text-align: left;
}

#startgg-names {
	gap: 0.5em;
}


.startgg.round {
	width: 120px;
	text-align: center;
	font-size: 14px;
}

.startgg.button {
	height: 30px;
	width: 80px;
	padding: 2px;
	font-size: 10px;
}

.startgg.button.save {
	background-color: #FF9999;
	border-bottom: 2px solid #AA4444;
}