.footer {
	display: flex;
	flex-direction: column;
	gap: 10px;

	position: fixed;
	left: 16px;
	top: 16px;
	max-width: 40px;
}

.svg-icon {
	width: 30px;
	height: 30px;
	margin-top: 1px;
	margin-left: -2px;
	filter: saturate(100%) brightness(0.2);
}

.navlink {
	box-sizing: border-box;
	width: 40px;
	height: 39px;
	padding: 3px 1px 3px 3px;
	border-radius: 5px;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
	border: none;
	border-bottom: 3px solid #AAA;
	color: #323232;
	background-color: #fff;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: background 0.3s ease, border 0.3s ease;
}

.navlink:visited {
	color: #323232;
	outline: none;
}

.navlink:hover {
	outline: none;
	background-color: rgb(208, 208, 215) !important;
	border-bottom: 3px solid rgb(170, 170, 170) !important;
	;
}

.navlink:focus {
	outline: none;
	background-color: rgb(208, 208, 215) !important;
	border-bottom: 3px solid rgb(170, 170, 170) !important;
	;
}

.navlink-current {
	background-color: #5EEBB1;
	border-color: #25634a;
}

.navlink-current:hover {
	outline: none;
	background-color: #5EEBB1 !important;
	border-color: #25634a !important;
}

.navlink-current:focus {
	outline: none;
	background-color: #5EEBB1 !important;
	border-color: #25634a !important;
}

.navlink-hover {
	position: fixed;
	left: 66px;
	opacity: 0;
	box-sizing: border-box;
	height: 24px;
	padding: 1px 8px 1px 8px;
	border-radius: 5px;
	white-space: nowrap;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
	border: none;
	color: #323232;
	background-color: #fff;
	font-size: 14px;
	margin-bottom: 3px;
	transition: opacity 0.3s ease, border 0.3s ease;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}