:root {
	--main-bg-color: #443344;
	--element-bg-color: #332233;
	--startgg-set-bg-color: #336;
	--startgg-selected-bg-color: #633;
}

/* GENERAL */

input.left,
button.left,
select.left,
input.right,
button.right,
select.right {
	border-bottom: 2px solid rgb(153, 153, 153);
}

.info {
	display: flex;
	place-items: center;
	border-radius: 5px;
}

.autofill {
	position: absolute;
	display: none;
	width: 220px;
	background-color: white;
	color: black;
	margin-top: 34px;
	border-radius: 0 0 5px 5px;
	text-align: right;
	align-self: flex-end;
	font-style: italic;
}

.autofill ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.autofill ul li {
	padding: 5px;
}

.autofill ul li:hover {
	background: #DDD;
	border-radius: 5px;
}

.clip {
	width: 30px;
}

#ffmpeg-clip {
	width: 50px;
	height: 50px;
	padding: 0;
}

.score.change::-webkit-inner-spin-button,
.score.change::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.score.change {
	appearance: textfield;
	-moz-appearance: textfield;
}

.column.changer {
	margin-left: -38px;
	gap: 5px;
}

button.score-changer {
	height: 30px;
	width: 24px;
	padding: 0;
	font-size: 18px;
	font-weight: 600;
}

.startgg.bottom.button:focus,
button:disabled {
	background-color: rgb(170, 170, 170) !important;
	border-bottom: 3px solid rgb(153, 153, 153) !important;
}

.label {
	text-align: center;
	padding: 5px 0;
	border-radius: 5px;
	font-size: 18px;
	color: #FFF;
	width: 300px;
	align-self: center;
}

#top-label {
	background-color: var(--element-bg-color);
	padding: 5px 20px;
}

/* HEADER */

#header {
	display: flex;
	flex-direction: row;
	height: 70px;
	gap: 0.5em;
	align-self: center;
}

.info.actual,
.data.actual {
	padding: 0.5em;
	display: flex;
	align-items: center;
	background-color: var(--element-bg-color);
	border-radius: 5px;
	gap: 0.5em;
}

.data-text.actual {
	padding: 5px 5px 5px 5px;
	font-size: 14px;
	height: 12px;
	color: #fff;
	background-color: #444;
	text-align: center;
}

#round-actual {
	width: 132px;
}

#best-of-actual {
	width: 40px;
}

.name-container.actual {
	padding: 5px;
}

.name.actual {
	height: 18px;
	font-size: 20px;
	padding: 2px 10px 2px 10px;
	margin: 3px 0px 3px 0px;
	appearance: none;
	-webkit-appearance: none;
	display: inline-block;
	background: #444444;
	color: #fff;
	width: 160px;
	border: none;
	border-radius: 5px;
}

.name.actual.left {
	text-align: right;
}

.name.actual.right {
	text-align: left;
}

.column.stock {
	gap: 8px;
}

.stock-icon {
	image-rendering: pixelated;
}

.stock-icon.actual {
	width: 24px;
	height: 24px;
	text-align: center;
}

.score.actual {
	font-size: 32px;
	width: 22px;
	height: 40px;
	margin: 0px 5px 0px 5px;
	padding: 5px 5px;
	appearance: none;
	-webkit-appearance: none;
	display: inline-block;
	background: #444444;
	color: #fff;
	border: none;
}

.character-container.actual {
	display: flex;
}


/* MAIN */

#main {
	display: flex;
	flex-direction: row;
	color: #323232;
	gap: 10px;
}

#left-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	width: 804px;
}

#p1-info-change {
	background-color: #442222;
}

#p2-info-change {
	background-color: #222244;
}

.info.change {
	flex-direction: row;
	justify-content: center;
	border-radius: 5px;
	gap: 10px;
	padding: 10px;
	transition: background 0.3s ease;
}

button.startgg.entrant {
	width: 32px;
	height: 32px;
	padding: 0;
}

input.startgg.display.id {
	position: absolute;
	align-self: flex-end;
	margin-right: 725px;
}

#p2-entrant {
	align-self: flex-start;
}

input.startgg.display {
	background-color: #fff;
	color: var(--element-bg-color);
	font-size: 11px;
	height: 16px;
	width: 60px;
	padding: 2px;
	text-align: left;
	opacity: 0;
}

.small-svg-icon {
	width: 20px;
	height: 20px;
	margin-top: 4px;
	filter: saturate(100%) grayscale(1) brightness(0.4);
}

.current-set>.column>button {
	padding: 1px 2px;
	margin: 3px;
	width: 60px;
	height: 20px;
}

#swap-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: calc(300px + 2em);
	gap: 1em;
}

#swap-all,
#swap-chars {
	opacity: 0;
}

.swap {
	font-size: 14px;
	color: #323232;
	background-color: #FFF;
	border: none;
	border-bottom: 3px solid #AAA;
	height: 30px;
	width: 30px;
	margin-top: 24px;
	padding: 2px 0 0 0;
}

.swap:hover {
	background-color: #CCC;
}

.player.info.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.player.info.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.player.header.row {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	flex-direction: row;
	width: 100%;
}

.team-colour-wrapper {
	display: flex;
	gap: 5px;
}

button.team-colour {
	width: 24px;
	height: 24px;
	padding: 0;
}

.database.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
}

button.database {
	width: 30px;
	padding: 2px;
	text-align: center;
}

.slug-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

input.slug {
	width: 60px;
	padding: 5px;
	font-size: 13px;
}

.name-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.pronouns.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
}

input.prefix {
	width: 90px;
	padding: 2px 5px;
	text-align: right;
	font-size: 13px;
}

input.pronouns {
	width: 70px;
	padding: 5px;
	text-align: right;
	font-size: 13px;
}

.flag.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
}

select.flag {
	font-size: 28px;
	width: 45px;
	padding: 0 5px;
	text-align: left;
	background: white;
	color: #FFF;
	border: none;
	font-family: sans-serif, 'Noto Color Emoji', 'Noto Color Emoji COLRv1';
}

select.flag:hover {
	cursor: pointer;
}

select.flag>optgroup {
	font-size: 15px;
	color: #323232;
	font-weight: 500;
	font-style: normal;
	margin-top: -200px;
	background-color: #ffdbdb;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.main.row {
	border-radius: 5px;
	padding: 5px;
}

.name.change {
	height: 32px;
	font-size: 24px;
	padding: 2px 10px 2px 10px;
	appearance: none;
	-webkit-appearance: none;
	display: inline-block;
	background: #fff;
	color: #323232;
	width: 200px;
	border-radius: 5px;
	text-align: right;
}

.csp.change {
	cursor: pointer;
	width: 68px;
	height: 93px;
	border-radius: 5px;
	transition: background 0.1s ease;
}

.csp.change:hover {
	background-color: rgba(0, 0, 0, 0.2) !important;
}

.score {
	font-size: 50px;
	width: 55px;
	text-align: center;
	border-radius: 5px;
	padding-right: 32px;
}

.swap-sides {
	height: 39px;
	font-weight: 600;
	width: 100px;
}

#reset-scores {
	width: 97px;
	font-size: 12px;
	padding: 1px 5px;
	margin-left: 23px;
}

.swap-sides>svg {
	font-size: 13px;
}

#middle-row {
	justify-content: center;
	align-items: center;
	gap: 1em;
}

/* Seating */

#seat-wrapper {
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	background-color: var(--element-bg-color);
	height: 90px;
}

.seat {
	background-color: #674467;
	padding: 5px;
	border-radius: 5px;
	gap: 0.2em;
	width: 120px;
}

.seat>.name {
	height: 18px;
}

.seat>span {
	color: #FFF;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	max-width: 130px;
}

.seat>.header>span {
	color: #FFF;
}

.seat-changer {
	padding: 3px;
	width: 50px;
	line-height: 12px;
	font-size: 12px;
}

.seat-changer.side {
	width: 30px;
}

.seat.column {
	align-items: center;
}

#seat-reset {
	width: 30px;
	height: 30px;
	padding: 3px 0 0 0;
}

/* Bottom submit */

#data-wrapper {
	justify-content: center;
	align-items: center;
	background-color: var(--element-bg-color);
	gap: 0.5em;
}

#data-wrapper input {
	width: 130px;
	height: 18px;
	font-size: 14px;
}

.best-of {
	font-size: 14px;
	border: none;
	height: 39px;
	width: 90px;
}

option:disabled {
	font-style: italic;
	text-align: center;
}

.update {
	font-size: 16px;
	padding: 12px 0px;
	color: #323232;
	background-color: #CBFFC7;
	border: none;
	border-bottom: 3px solid #64B55E;
	width: 100%
}

.update:hover {
	background-color: #A3FF9C;

}

/* CASTERS */

#caster-wrapper {
	align-items: center;
	background-color: var(--element-bg-color);
	gap: 0.5em;
}

#caster-icon {
	float: left;
}

.caster.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	margin-right: 1em;
}

input.caster {
	height: 18px;
	font-size: 14px;
}

.caster-name {
	width: 140px;
}

.caster>.pronouns {
	text-align: left;
	font-size: 13px;
}

/* OBS */

#obs-wrapper {
	display: none;
	align-items: center;
	background-color: var(--element-bg-color);
	border-radius: 5px;
}

#scene-box {
	display: flex;
	align-items: center;
	text-align: center;
}

#obs-wrapper input,
#obs-wrapper button {
	margin: 10px;
}

#update-scene {
	font-size: 14px;
}

/* Recorded sets */

.timecode-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.timecode {
	max-width: 50%;
	margin: 5px;
}

.timecode.button {
	height: 26px;
	padding: 3px;
	max-width: 25%;
	margin: 5px;
}

#tournament-wrapper {
	gap: 0.5em;
}

#set-update {
	padding: 3px;
}

#display-set-results {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #888;
	padding: 5px;
	border-radius: 5px;
}

.startgg.entrant.swap {
	font-size: 10px;
	padding: 2px;
	height: 25px;
	width: 25px;
}

#submit-startgg-set {
	margin: 5px;
	padding: 3px;
	width: 120px;
}

span.stage {
	text-align: center;
	display: inline-block;
	width: 2.5em;
}

.stock-icon.dark {
	filter: opacity(15%)
}

/* Right wrapper stuff */

#right-wrapper {
	display: flex;
	position: relative;
	flex-direction: column;
	min-width: 320px;
	gap: 0.5em;
	border-radius: 5px;
	background-color: var(--element-bg-color);
	padding: 5px;
	color: #FFF;
}

#startgg-banner-wrapper {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}

#startgg-input-wrapper {
	gap: 0.5em;
	width: 220px;
	align-items: center;
}

#startgg-input-wrapper>.row {
	gap: 0.5em
}

#tournament-slug {
	width: 110px;
	height: 15px;
}

#tournament-slug-submit {
	display: none;
}

.startgg-submit.column {
	margin: 5px 0;
	gap: 4px;
}

.startgg.bottom.button {
	height: 35px;
	width: 35px;
	padding: 3px 3px 2px 3px;
	font-size: 18px;
}

#bracket-icon {
	width: 22px;
	height: 22px;
}

#get-sets {
	display: none;
	width: 100%;
	height: 19px;
	font-size: 11px;
	padding: 0px;
}

.startgg.input.c {
	display: none;
	width: 105px;
	height: 30px;
	padding: 3px 8px 3px 8px;
	font-size: 13px;
}

#events {
	width: 115px;
}

#phases {
	width: 95px;
}

#phase-groups {
	width: 100px;
}

#tournament-image {
	width: 100px;
	height: 100px;
	border-radius: 10px;
}

.load {
	padding: 4px 4px;
	margin: 5px;
	width: auto;
	background-color: #FFF;
	border: none;
	border-bottom: 2px solid #AAA;
}

.load:hover {
	background-color: #CCC;
}

.scene:hover {
	background-color: #CCC;
}

#pages {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#pages button {
	height: 25px;
	width: 40px;
	padding: 2px;
	margin: 0 10px;
}

#page-left {
	display: none;
}

#page-right {
	display: none;
}

#sets {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.set,
#current-set {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-height: 60px;
}

.set {
	background-color: var(--startgg-set-bg-color);
	padding: 5px;
	border-radius: 5px;
}

.set.wrapper.names {
	display: flex;
	flex-direction: column;
	padding: 0px;
	width: 188px;
}

.current-set.wrapper.info {
	display: flex;
	flex-direction: row;
}

.current-set.wrapper.names {
	display: flex;
	flex-direction: column;
	width: 168px;
}

.set.wrapper.right,
.current-set.wrapper.right {
	display: flex;
	padding: 0px;
	vertical-align: middle;
}

#set1,
#set2,
#set3,
#set4,
#set5 {
	display: none;
}

.set>label,
.current-set>label {
	text-align: center;
	font-size: 14px;
	width: 100%;
}

.startgg.vs {
	color: #AAA;
	font-size: 12px;
}

#startgg-names {
	gap: 0.5em;
}

.startgg.round {
	display: flex;
	align-items: center;
	width: 60px;
	text-align: center;
	font-size: 12px;
}

button.startgg {
	height: 30px;
	width: 50px;
	padding: 2px;
	font-size: 10px;
	line-height: 10px;
}

/* Current start.gg set*/

#startgg-info-wrapper {
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 4px;
	gap: 5px;
}

.set-wrapper {
	position: relative;
	width: 318px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
	border-radius: 5px;
	background-color: var(--startgg-selected-bg-color);
}

#current-set-wrapper-status {
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: 75px;
	border-radius: 5px 0 5px 0;
	padding: 1px 4px;
	color: white;
	background-color: green;
}

#startgg-config {
	display: flex;
	flex-direction: row;
	padding: 5px;
	height: 30px;
	gap: 5px;
	border-radius: 5px;
	background-color: var(--startgg-selected-bg-color);
}

#startgg-config>select {
	padding: 3px 8px 3px 8px
}

#livestream-icon {
	margin: 0;
}

.red-colour {
	color: rgb(136, 34, 34);
	background-color: rgb(245, 98, 98);
	border-bottom: 2px solid rgb(68, 34, 34) !important;
}

.blue-colour {
	color: rgb(34, 34, 136);
	background-color: rgb(98, 98, 245);
	border-bottom: 2px solid rgb(34, 34, 68) !important;
}

.green-colour {
	color: rgb(34, 136, 34);
	background-color: rgb(98, 245, 98);
	border-bottom: 2px solid rgb(34, 68, 34) !important;
}