<!DOCTYPE html>

<html>
<head>
	<title>Smash Bros. Melee Overlay Config</title>
	<script src="{{ url_for('static', filename='scripts/jquery-3.4.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='scripts/long-press-event.js') }}"></script>
	<script src="{{ url_for('static', filename='scripts/auto-scripts.js') }}"></script>
	<script src="{{ url_for('static', filename='scripts/obs-ws.min.js') }}"></script>
	<script src="{{ url_for('static', filename='scripts/fontawesome.js') }}"></script>
	<script>var best_of_value = "{{best_of}}"</script>
	<script>var api_key = "{{api_key}}"</script>
	<script>var obs_port = "{{obs_port}}"</script>
	<script>var obs_password = "{{obs_password}}"</script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auto.css') }}">
</head>

<body>
	<button id="manual_button" class="absolute_button" onclick="manual()"><i class="fas fa-pencil"></i></button>
	<button id="settings_button" class="absolute_button" onclick="settings()"><i class="fas fa-cog"></i></button>
	<div id="left_wrapper">
		<div id="row1" class="row">
			<div id="p1_info_actual" class="info actual">
				<div id="p1_text_actual" class="tag_container actual">
					<input type="text" id="p1_tag_actual" class="tag actual left" value="{{p1_tag}}" placeholder="Player 1 Tag" readonly="true">
					<input type="text" id="p1d_tag_actual" class="tag actual left doubles" value="{{p1d_tag}}" placeholder="Player 2 Tag" readonly="true">
				</div>
				<img id="p1_character_actual" class="stock_icon actual" src="static/img/stock_icons/{{p1_char}}/{{p1_colour}}.png">
				<img id="p1d_character_actual" class="stock_icon actual" src="static/img/stock_icons/{{p1d_char}}/{{p1d_colour}}.png">
				<input id="p1_score_actual" class="score actual" min="0" max="99" value="{{p1_score}}" readonly="true">
			</div>

			<div id="p2_info_actual" class="info actual">
				<input id="p2_score_actual" class="score actual" min="0" max="99" value="{{p2_score}}" readonly="true">
				<img id="p2_character_actual" class="stock_icon actual" src="static/img/stock_icons/{{p2_char}}/{{p2_colour}}.png">
				<img id="p2d_character_actual" class="stock_icon actual" src="static/img/stock_icons/{{p2d_char}}/{{p2d_colour}}.png">
				<div id="p2_text_actual" class="tag_container actual">
					<input type="text" id="p2_tag_actual" class="tag actual right" value="{{p2_tag}}" placeholder="Player 1 Tag" readonly="true">
					<input type="text" id="p2d_tag_actual" class="tag actual right doubles" value="{{p2d_tag}}" placeholder="Player 2 Tag" readonly="true">
				</div>
			</div>
		</div>
		
		<div id="row2" class="row">
			<div id="p1_info_change" class="info change">
				<button type="button" id="team1_swap" class="swap" onclick="swap_team(1)"><i class="fa-solid fa-arrows-up-down"></i></button>
				<div id="p1_pronouns_change" class="pronouns_container change">
					<input type="text" id="p1_pronouns" class="pronouns change left" value="{{p1_pronouns}}" placeholder="Pronouns">
					<input type="text" id="p1d_pronouns" class="pronouns change left doubles" value="{{p1d_pronouns}}" placeholder="Pronouns">
				</div>
				<div id="p1_text_change" class="tag_container change">
					<input type="text" id="p1_tag" class="tag change left" value="{{p1_tag}}" placeholder="Player 1 tag">
					<input type="text" id="p1d_tag" class="tag change left doubles" value="{{p1d_tag}}" placeholder="Player 2 tag">
				</div>
				<img id="p1_character_change" class="csp actual" src="static/img/csp_icons/{{p1_char}}/{{p1_colour}}.png">
				<img id="p1d_character_change" class="csp actual" src="static/img/csp_icons/{{p1d_char}}/{{p1d_colour}}.png">
				<input type="number" id="p1_score_change" class="score change" min="0" max="99" value="{{p1_score}}">
			</div>
		</div>

		<div id="row3" class="row">
			<button type="button" class="swap_sides" onclick="swap_sides()">Swap <i class="fa-solid fa-arrows-up-down"></i></button>
		</div>

		<div id="row4" class="row">
			<div id="p2_info_change" class="info change">
				<button type="button" id="team2_swap" class="swap" onclick="swap_team(2)"><i class="fa-solid fa-arrows-up-down"></i></button>
				<div id="p2_pronouns_change" class="pronouns_container change">
					<input type="text" id="p2_pronouns" class="pronouns change right" value="{{p2_pronouns}}" placeholder="Pronouns">
					<input type="text" id="p2d_pronouns" class="pronouns change right doubles" value="{{p2d_pronouns}}" placeholder="Pronouns">
				</div>
				<div id="p2_text_change" class="tag_container change">
					<input type="text" id="p2_tag" class="tag change right" value="{{p2_tag}}" placeholder="Player 1 tag">
					<input type="text" id="p2d_tag" class="tag change right doubles" value="{{p2d_tag}}" placeholder="Player 2 tag">
				</div>
				<img id="p2_character_change" class="csp actual" src="static/img/csp_icons/{{p2_char}}/{{p2_colour}}.png">
				<img id="p2d_character_change" class="csp actual" src="static/img/csp_icons/{{p2d_char}}/{{p2d_colour}}.png">
				<input type="number" id="p2_score_change" class="score change" min="0" max="99" value="{{p2_score}}">
			</div>
		</div>

		<div id="row5" class="row">
			<input type="text" id="round_change" value="{{round}}" placeholder="Round">
			<button type="button" class="best_of" id="bo3" onclick="change_best_of(3)">Best of 3</button>
			<button type="button" class="best_of" id="bo5" onclick="change_best_of(5)">Best of 5</button>
			<button type="button" class="toggle_doubles" onclick="toggle_doubles()" value="{{is_doubles}}"></button>
			<div id="scene_box">
				<select id="scenes"></select>
				<div>
					<button id="update_scene" class="scene" onclick="update_scene()">Change Scene</button>
				</div>
			</div>
			<button type="button" class="update" onclick="update()">Update <i class="fa fa-sync"></i></button>
		</div>

		<div id="row6" class="row">
			<input type="text" id="tournament_slug" class="startgg tournament input" placeholder="startgg tournament slug">
			<button type="button" id="tournament_slug_submit" class="startgg bottom button" onclick="getTournament()">Submit</button>
			<select id="event"></select>
			<button type="button" id="event_submit" class="startgg bottom button" onclick="getEvent()">Submit</button>
		</div>
	</div>
	<div id="right_wrapper">
		<div id="row1r" class="row right">
			<div id="data_actual" class="data">
				<input type="text" id="round_actual" class="data_text actual" value="{{round}}" placeholder="Round" readonly="true">
				<input id="best_of_actual" class="data_text actual" best_of="{{best_of}}" value="Best of {{best_of}}" readonly="true">
			</div>
		</div>
		<div id="row2r" class="row right">
			<div id="pages">
				<button	id="page_left" class="page_button" onclick="showSets(false)"><i class="fa-solid fa-arrow-left"></i></button>
				<button	id="page_right" class="page_button" onclick="showSets(true)"><i class="fa-solid fa-arrow-right"></i></button>
			</div>
			<div id="set1" class="set">
				<div id="set1_wrapperL" class="set wrapper left">
					<label id="set1_tag1" class="startgg tag left"></label>
					<label id="set1_vs" class="startgg tag vs">vs</label>
					<label id="set1_tag2" class="startgg tag right"></label>
				</div>
				<div id="set1_wrapperR" class="set wrapper right">
					<label id="set1_round" class="startgg round"></label>
					<button	id="set_button" class="startgg button load" onclick="load_set(1)">Load</button>
				</div>

			</div>
			<div id="set2" class="set">
				<div id="set2_wrapperL" class="set wrapper left">
					<label id="set2_tag1" class="startgg tag left"></label>
					<label id="set2_vs" class="startgg tag vs">vs</label>
					<label id="set2_tag2" class="startgg tag right"></label>
				</div>
				<div id="set2_wrapperR" class="set wrapper right">
					<label id="set2_round" class="startgg round"></label>
					<button	id="set2_button" class="startgg button load" onclick="load_set(2)">Load</button>
				</div>
			</div>
			<div id="set3" class="set">
				<div id="set3_wrapperL" class="set wrapper left">
					<label id="set3_tag1" class="startgg tag left"></label>
					<label id="set3_vs" class="startgg tag vs">vs</label>
					<label id="set3_tag2" class="startgg tag right"></label>
				</div>
				<div id="set3_wrapperR" class="set wrapper right">
					<label id="set3_round" class="startgg round"></label>
					<button	id="set3_button" class="startgg button load" onclick="load_set(3)">Load</button>
				</div>
			</div>
			<div id="set4" class="set">
				<div id="set4_wrapperL" class="set wrapper left">
					<label id="set4_tag1" class="startgg tag left"></label>
					<label id="set4_vs" class="startgg tag vs">vs</label>
					<label id="set4_tag2" class="startgg tag right"></label>
				</div>
				<div id="set4_wrapperR" class="set wrapper right">
				<label id="set4_round" class="startgg round"></label>
				<button	id="set4_button" class="startgg button load" onclick="load_set(4)">Load</button>
			</div>
			<div id="set5" class="set">
				<div id="set5_wrapperL" class="set wrapper left">
					<label id="set5_tag1" class="startgg tag left"></label>
					<label id="set5_vs" class="startgg tag vs">vs</label>
					<label id="set5_tag2" class="startgg tag right"></label>
				</div>
				<div id="set5_wrapperR" class="set wrapper right">
					<label id="set5_round" class="startgg round"></label>
					<button	id="set5_button" class="startgg button load" onclick="load_set(5)">Load</button>
				</div>
			</div>
		</div>
	</div>
</body>