html {
	font-size: 48px;
}

.main {
	height: 423px;
	background-color: #5EEBB1;
	box-sizing: border-box;
	padding: 6px 16vw 10px 8vw;
	z-index: -10;
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Hey Comic";
	color: #fff;
	-webkit-text-stroke: 0.05em black;
	line-height: 1.0;
	letter-spacing: -0.05em;
}

.teams {
	flex-shrink: 0;
	width: 100%;
	display: flex;
	gap: 1em;
}

.team {
	flex: 1 0 0;
	width: 0;
	overflow-x: clip;
	display: flex;
	flex-direction: column;
	gap: 0.1em;
}

.players {
	display: flex;
	flex-direction: column;
}

.player {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.player2 {
	align-items: flex-end;
	text-align: right;
}

.player.player2 {
	box-sizing: border-box;
	padding-right: 0.05em;
}

.player-details {
	font-size: 0.7em;
	height: 1em;
	display: flex;
	gap: 0.5em;
	align-items: center;
}

.player-tag {
	width: 100%;
	min-height: 1em;
}

.score {
	font-family: "Happy School";
    color: #fff;
	-webkit-text-stroke: 1.5px black;
    white-space: initial;
	font-weight: bold;
	text-align: center;
	width: 1em;
}

.l {
	position: absolute;
	font-size: 0.4em;
}

#player1-l {
	transform: translate(38px, 32px);
}

#player2-l {
	transform: translate(-36px, 32px);
}

.score-background-container {
	overflow: hidden;
	height: 100%;
	position: absolute;
}

.score-container {
	font-size: 108px;
	width: 150px;
	height: 175px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

#player1-score-background-container {
	width: 133px;
}

#player2-score-background-container {
	width: 114px;
}

.score-background {
	position: absolute;
	margin-top: -108px;
	z-index: -9;
}

#player1-score-background {
	margin-left: -169px;
}

#player2-score-background {
	margin-left: -304px;
}

.middle {
	flex-grow: 1;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.middle-middle-column {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.logo {
	aspect-ratio: 2050 / 1085;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
}

.logo-text {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
	height: 100%;
	width: 85%;
	overflow: hidden;
}

#date {
	padding-right: 5%;
	text-align: right;
	font-size: 1.2em;
	font-family: "Happy School";
	-webkit-text-fill-color: rgba(94, 235, 177, 0.5);
	-webkit-text-stroke: 0.07em white;
	letter-spacing: 0.02em;
}

.stpl-container {
	position: relative;
	z-index: -7;
	flex: 1 1 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.stpl {
	position: absolute;
	max-width: 100%;
	transform: translateY(8%);
}

.round {
	white-space: nowrap;
	flex-shrink: 0;
}

.stock_icon-container {
	position: absolute;
	z-index: -8;
	display: flex;
	width: 100%;
	height: 100%;
}

.stock_icon {
	width: 100%;
	aspect-ratio: 1025 / 1085;
	object-fit: cover;
	object-position: bottom;
}

.stock_icon.player-doubles {
	position: absolute;
	height: 75%;
	width: unset;
	bottom: 0;
}

#player1d-char {
	left: -15%;
}

#player2d-char {
	right: -15%;
}

.link {
	height: 1em;
	display: flex;
	align-items: center;
}

svg {
	fill: white;
}

.link-icon {
    transform: translateY(0.07em);
}

.icon {
	height: 100%;
}

.link-text {
	height: 100%;
	letter-spacing: 0.03em;
}

.location-text {
	height: 100%;
}

.bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 0.1em;
}